*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background: url("imagenes/fondo.jpg") #CCC no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
h2{
    text-align: center;
    color: white;
    margin: 0 0 20px 0;
}
.columnainicio{
    background: rgba(0,0,0,.6);
    width: 50%;
    max-width: 500px;
    margin: 200px;
    margin-top: 250px;
    float: left;
    border-radius: 5px;
    padding: 30px;
}
.columnaregistro{
    background: rgba(0,0,0,.6);
    width: 50%;
    max-width: 500px;
    margin: 200px;
    margin-top: 250px;
    float: left;
    border-radius: 5px;
    padding: 30px;
}
.contenedor input[type = "text"],
.contenedor input[type = "password"],
.contenedor input[type = "email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid orange;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0;
    transition: all .5s ease;
}
.contenedor input[type = "text"]:focus,
.contenedor input[type = "password"]:focus,
.contenedor input[type = "email"]:focus{
    border-bottom: 4px solid blue;
}
.contenedor input[type = "submit"]{
    outline: none;
    width: 100%;
}