body{
    background: url("imagenes/fondo.jpg") #CCC no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.barranavegacion{
    background-color: cornflowerblue;
    height: 120px;
}
#contenidoprincipal{
    background-color: darkolivegreen;
    margin-right: 210px;
}
#carritolateral{
    background-color: chartreuse;
    float: right;
    height: 800px;
}
#piedepagina{
    background-color: darkred;
    clear: both;
    margin-top: 450px;
}
.imagenhome{
    position: relative;
    width: 80px;
    height: 80px;
    top: 20px;
    left: 40px;
}
.imagenusuario{
    position: relative;
    width: 90px;
    height: 90px;
    right: -420px;
    top: 40px;
}
.imagencarrito{
    position: relative;
    width: 90px;
    height: 90px;
    right: -470px;
    top: 40px;
}
.button{
    padding: 0;
    text-align: center;
    position: relative;
    top: -120px;
}
.button li{
    display: inline;
    align-content: center;
    background-color: goldenrod;
    padding: 15px;
    margin: 25px;
    border-radius: 5px;
    font-size: 20px;
}
.button li a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-decoration: none;
}